<p id="notice"><%= notice %></p>
<h1><%= link_to("発注者リストへ","/") %></h1>
<p>
  <strong>User:</strong>
  <%= @order.user_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @order.name %>
</p>

<p>
  <strong>Postal code:</strong>
  <%= @order.postal_code %>
</p>

<p>
  <strong>Prefectures:</strong>
  <%= @order.prefectures %>
</p>

<p>
  <strong>Ward:</strong>
  <%= @order.ward %>
</p>

<p>
  <strong>Address:</strong>
  <%= @order.address %>
</p>

<p>
  <strong>Aparatment:</strong>
  <%= @order.aparatment %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @order.birthday %>
</p>

<p>
  <strong>Settlement:</strong>
  <%= @order.settlement %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @order.phone_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @order.email %>
</p>

<p>
  <strong>Description:</strong>
  <%= @order.description %>
</p>
<% if current_user.id == @order.user_id %>
<%= link_to 'Edit', edit_order_path(@order) %> |
<% end %>
<%= link_to 'Back', orders_path %>
