<%= form_with(model: contractor, local: true) do |form| %>
  <% if contractor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contractor.errors.count, "error") %> prohibited this contractor from being saved:</h2>

      <ul>
      <% contractor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
  </div>

  <div class="field">
    <%= form.label :name %>
  </div>

  <div class="field">
    <%= form.label :adress %>
    <%= form.text_field :adress %>
  </div>

  <div class="field">
    <%= form.label :birthday %>
    <%= form.date_select :birthday %>
  </div>

  <div class="field">
    <%= form.label :prefectures %>
    <%= form.text_field :prefectures %>
  </div>

  <div class="field">
    <%= form.label :phone_number %>
    <%= form.text_field :phone_number %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :category %>
  </div>

  <div class="field">
    <% cate = [ 'beers', 'foods' , 'drink'] %>
    <%= form.fields_for :categories do |category| %>
      <% cate.each do |ca| %>
        <%= category.label ca %>
        <%= category.check_box :name %>
      <% end %> 
    <% end %>  
  </div>
  


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
