<p id="notice"><%= notice %></p>

<p><%= link_to("ログアウト", "/logout") %></p>
<p><%= link_to("注文者一覧", "/orders") %></p>

ーーーーーーーーーーーーーーーーーーーーーーーーーー確認必要
<% if  Order.exists?(user_id: current_user) then  %>
<p><%= link_to("発注者情報を変更する", "/orders/#{@order.user_id}/edit") %></p>
<% else %>
<p><%= link_to("発注者になる","orders/new") %></p>
<% end %>
ーーーーーーーーーーーーーーーーーーーーーーーーーー確認必要

<% if  Contractor.exists?(user_id: current_user) then  %>
<p><%= link_to("受注者情報を変更する", "/contractors/#{@contractor.id}/edit") %></p>
<% else %>
<p><%= link_to('受注者になる(情報登録)', new_contractor_path) %></p>
<% end %>
<h1>受注者リスト</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Name</th>
      <th>Adress</th>
      <th>Birthday</th>
      <th>Prefectures</th>
      <th>Phone number</th>
      <th>Description</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @contractors.each do |contractor| %>
      <tr>
        <td><%= contractor.user_id %></td>
        <td><%= contractor.name %></td>
        <td><%= contractor.adress %></td>
        <td><%= contractor.birthday %></td>
        <td><%= contractor.prefectures %></td>
        <td><%= contractor.phone_number %></td>
        <td><%= contractor.description %></td>
        <td><%= link_to 'Show', contractor %></td>
        <% if current_user.id == contractor.user_id then  %>
        <td><%= link_to 'Edit', edit_contractor_path(contractor) %></td>
        <td><%= link_to 'Destroy', contractor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% else %>
        <% end %>
        <% if Order.exists?(user_id: current_user)  %>
        <td>注文する</td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


