<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @contractor.user_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @contractor.name %>
</p>

<p>
  <strong>Adress:</strong>
  <%= @contractor.adress %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @contractor.birthday %>
</p>

<p>
  <strong>Prefectures:</strong>
  <%= @contractor.prefectures %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @contractor.phone_number %>
</p>

<p>
  <strong>Description:</strong>
  <%= @contractor.description %>
</p>

<p>
  <strong>category:</strong>
  <%  @categories.each do |cate|  %>
    <%= cate.name if ContractorCategory.exists?(category_id: cate.id)  %>
  <% end %>
</p>


<% if @contractor.myself?(current_user)  %>
  <%= link_to 'Edit', edit_contractor_path(@contractor) %> |
<% else %>
  <p><%= link_to("注文する",controller: "requests", action: "new"  ,  id: @contractor.id)%></p>
<% end %>

<%= link_to 'Back', contractors_path %>
