<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @contractor.user_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @contractor.name %>
</p>

<p>
  <strong>Adress:</strong>
  <%= @contractor.adress %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @contractor.birthday %>
</p>

<p>
  <strong>Prefectures:</strong>
  <%= @contractor.prefectures %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @contractor.phone_number %>
</p>

<p>
  <strong>Description:</strong>
  <%= @contractor.description %>
</p>

<p>
  <strong>Description:</strong>
  <%= @contractor.images.image %>
</p>

<% if Order.exists?(user_id: current_user)  %>
  <p><%= link_to("注文する",controller: "requests", action: "new"  ,  id: @contractor.id)%></p>
<% end %>
<% if current_user.id == @contractor.user_id then  %>
  <%= link_to 'Edit', edit_contractor_path(@contractor) %> |
<% end %>

<%= link_to 'Back', contractors_path %>
