<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @contractor.user_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @contractor.name %>
</p>

<p>
  <strong>Adress:</strong>
  <%= @contractor.adress %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @contractor.birthday %>
</p>

<p>
  <strong>Prefectures:</strong>
  <%= @contractor.prefectures %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @contractor.phone_number %>
</p>

<p>
  <strong>Description:</strong>
  <%= @contractor.description %>
</p>

<% unless @contractor.user.id == current_user.id  %>
  <p><%= link_to("注文する",new_request_path(id: @contractor.id))%></p>
<% else %>
  <%= link_to 'Edit', edit_contractor_path(@contractor) %> |
<% end %>

<%= link_to 'Back', contractors_path %>
