<!DOCTYPE html>
<html>
  <head>
    <title>Orders</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<nav class="navbar navbar-light bg-top">
  <a class="navbar-brand text-white" href="/">original order</a>
  <button type="button" class="btn"><%= link_to("ログアウト", "/logout")%></button>
</nav>

  <br>
  <% if current_user != nil %>

    
    <p>アカウントNo:<%= current_user.id  %></p>
  <% end %>
  <div class ='sidespace'>
    <%= yield %>
  </div>
  </body>
</html>
