<!DOCTYPE html>
<html>
  <head>
    <title>Orders</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <h1>original order</h1>
  <br>

  <% if current_user != nil %>
    <%= link_to("ログアウト", "/logout")%>
  <% end %>
    <%= yield %>
  </body>
</html>
